*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Akaya Telivigala', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5%;
}

ul li{
  padding: 10px;
  list-style: none;
  width: 10vw;
  display: inline-block;
  box-shadow: 1px 1px 5px #0f254c;
  text-align: center;
}

@media all and (max-width:768px) {
  ul li{
    width: 20vw;
  }
}
